body {
    background: #2F3041;
    color: white;
    font-family: 'Roboto', serif;
}


img {
    cursor: pointer;
}

@media (min-width: 0) {
    .wallpaper-img{
        width: 85%;
        border-radius: 16px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }


    .title {
        text-align: center;
    }

    .copyright {
        font-size: 110%;
        width: 90%;
    }

    p {
        margin-left: auto;
        margin-right: auto;
    }

    .desc {
        font-size: 125%;
        width: 90%;
        text-align: justify
    }

    .wallpaper-text {
        display: flex;
        flex-direction: column-reverse;
    }

    .get-it-on {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%
    }

    .get-it-on img {
        max-width: 45%;
    }

}

@media (min-width: 768px) {
    .get-it-on {
        display: flex;
        margin: 5% auto 3% auto;
    }

    .desc {
        font-size: 150%;
        line-height: 39px;
        width: 90%;
    }

    .copyright {
        font-size: 125%;
        width: 90%;
    }

    .get-it-on img {
        width: 100%;
    }
}

@media (min-width: 992px) {
    html, body {
        height: 100%;
        overflow: hidden;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wallpaper-img {
        height: 100%;
        border-radius: 8px;
        display: flex;
        object-fit: cover;
    }

    .wallpaper {
        display: flex;
        height: 100vh;
        padding: 32px;
    }

    .desc {
        font-size: 200%;
        line-height: 45px;
        width: 90%;
        margin-top: 2%;
    }

    .copyright {
        font-size: 150%;
        width: 90%;
    }

    .title {
        text-align: center;
        font-size: 250%;
    }

    .get-it-on img {
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .wallpaper-img {
        width: 30%;
        border-radius: 8px;
        float: left;
    }

    .wallpaper-text {
      display: flex;
      flex-direction: column;
    }

    .desc {
        font-size: 150%;
        line-height: 36px;
        width: 90%;
    }

    .copyright {
        font-size: 120%;
    }

    .get-it-on {
        max-width: 45%;
    }
}

@media (min-width: 1400px) {
    .wallpaper-img {
        max-width: 30%;
    }
}