body {
    background: #2F3041;
    color: white;
    font-family: 'Roboto', serif;
}

@media (min-width: 0) {
    .wallpaper img {
        width: 90%;
        border-radius: 2%;
        display: flex;
        cursor: pointer;
    }

    .wallpaper h1 {
        text-align: center;
    }

    .copyright {
        font-size: 110%;
        width: 90%;
    }

    p {
        margin-left: auto;
        margin-right: auto;
    }

    .desc {
        font-size: 125%;
        width: 90%;
        text-align: justify
    }

    .wallpaper-text {
        display: flex;
        flex-direction: column-reverse;
    }

    .get-it-on {
        display: flex;
        width: 50%;
        margin: 0 auto 0 auto;
    }

}

@media (min-width: 768px) {
    .get-it-on {
        display: flex;
        margin: 5% auto 3% auto;
    }

    .desc {
        font-size: 150%;
        line-height: 39px;
        width: 90%;
    }

    .copyright {
        font-size: 125%;
        width: 90%;
    }
}

@media (min-width: 992px) {
    .wallpaper-img {
        width: calc(100% - 16px);
        height: 100%;
        border-radius: 16px;
        margin: 0 auto 0 auto;
        display: flex;
        cursor: pointer;
        object-fit: cover;
    }

    .desc {
        font-size: 200%;
        line-height: 45px;
        width: 90%;
    }

    .copyright {
        font-size: 150%;
        width: 90%;
    }

    .wallpaper h1 {
        text-align: center;
        font-size: 250%;
    }

}

@media (min-width: 1200px) {
    .wallpaper-img {
        width: 40%;
        border-radius: 8px;
        float: left;
        cursor: pointer;
    }

    .wallpaper-text {
      display: flex;
      flex-direction: column;
    }

    .desc {
        font-size: 150%;
        line-height: 36px;
        width: 90%;
    }

    .copyright {
        font-size: 120%;
    }

    .get-it-on {
        display: flex;
        width: 50%;
    }
}

@media (min-width: 1400px) {
    .wallpaper-img {
        max-width: 27%;
        cursor: pointer;
    }
}